
/* ==========================================================================
   Base styles
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu:400,500,700');

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
}

hr {
  border-top: 1px solid rgba(0,0,0,.5);
  border-bottom: 1px solid rgba(255,255,255,.3);
}

/* ==========================================================================
   Custom Classes
   ========================================================================== */

/* Text Shadow */

.shadow {
  text-shadow: 1px 1px 1px rgba(0,0,0,5);
}

.bdr-lt {
  border-top: 1px solid rgba(255,255,255,0.04);
}

.bdr-drk {
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

/*
 ==========================================================================
   Phone Screen Content Frontend Challenge from Design to Code
   ========================================================================== */
   main {
     height: 867px;
   	width: 423px;
     margin: 0 auto;
   }

.container {
  width: 95%;
  margin: 5px auto 0 auto;
}

/********** Top Navigation *********/

nav {
  background: rgba(0,0,0,.8);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 64px;
  top:0;
  left: 0;
}

nav ul li {
  display: inline;
  position: relative;
  z-index: 1;
}

#status-bar {
  height:20px;
  padding: 0;
  margin: 0 auto;
  width: 95%;
}

li.time, li.percent {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 0px;
}

li.top-bar-text {
  position: relative;
  font-family: 'Roboto', sans-serif;
}

li.time {
  left: 114px;
}

li.percent {
  left: 228px;
}

li.right {
  position: relative;
  float: right;
}

.fa-signal:before, .fa-wifi:before, .fa-battery-full:before, .top-bar-text {
  position: relative;
  font-size: .65em;
  color:#fff;
}

div.nav-bottom {
  text-align: center;
  color:#fff;
  margin: 0 auto;
  font-weight: bold;
}

span.arrow-left {
  position: relative;
  left: -90px;
  top: 5px;
  color: #1CD9A4;
}

/********** Map *********/

section div.map {
  position: absolute;
  top:0;
  left:0;
  right:0;
  width:100%;
  height:294px;
  background: url(../img/map.png)no-repeat center center;
  background-size: cover;
  z-index: 0;
}

/********** Search *********/

.search {
  position: relative;
  text-align: center;
  margin-top: 20%;
  width: 100%;
}
.search input {
  text-indent: 30px;
  width:95%;
  border-radius: 10px;
  border: none;
  height: 36px;
  background: rgba(0,0,0,.80);
}
.search .fa-search, .search .fa-microphone {
  position: absolute;
  top: 10px;
  color: #1CD9A4;
  z-index: 1;
}

.search .fa-search {
  left: 18px;
}

.search .fa-microphone {
  right: 18px;
}

input::placeholder {
  color: #1CD9A4;
  font-family: 'Ubuntu', sans-serif;
}

/********** Map Markers *********/

span .fa-map-marker {
  position: relative;
  top:60px;
  left:188px;
  font-size: 1.5em;
  color: #E00049;
}

span .fa-location-arrow {
  position: relative;
  top:145px;
  left:0px;
  font-size: 1.5em;
  color: #E00049;
}

/********** Bus Stop List *********/

section.list {
    position: absolute;
    margin: 288px auto;
    width: 95%;
}

section.list.bdr-lt.bdr-drk.item-2 {
    position: absolute;
    top: 6.9em;
}

.list-item {
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

ul.stop-list, ul.time-list {
    height: 4em;
}

li.list-title, li.list-time {
    font-size: 2.125em;
    margin-bottom: 10px;
    font-weight: 500;
}

li.list-detail, li.list-min {
    font-size: .9375em;
}

ul.time-list {
    margin-right: 40px;
}

span.arrow-right {
    position: relative;
    top: -1.1em;
    left: 0.8em;
    font-size: 3.125em;
    color: #1CD9A4;
}

/*
 ==========================================================================
  CSS iphone Image
   ========================================================================== */

.iphone-body {
   height: 100%;
   width: 100%;
   padding: 15px;
   background: #000;
   box-shadow: inset 0 0 3px 0 rgba(70, 73, 76, 0.3), 0 0 0 1px rgba(76, 92, 104, 0.3), 0 1px 20px 0px rgba(0, 0, 0, 0.4);
   border: 5px solid #46494c;
   border-radius: 50px;
   margin: 30px auto;
   position: relative;
   /* transform: scale(0.8); */
}

/********** Phone Top *********/

.iphone-top {
	padding: 5px 110px 40px;
	position: relative;
}

.top-section .camera {
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 13px;
	border-radius: 50%;
	background: #46494c;
}

.top-section .mic {
	display: block;
	width: 70px;
	height: 6px;
	margin: 0 auto;
	border-radius: 8px;
	background: #46494c;
}

.top-section .speaker {
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	left: 130px;
	top: 43px;
	margin: 0 auto;
	border-radius: 8px;
	background: #46494c;
}

/* Accents on sides of top and bottom of the phone body */

.top-bar, .bottom-bar {
  display: block;
  position: absolute;
  width: 423px;
  height: 15px;
  border-left: 5px solid #303233;
  border-right: 5px solid #303233;
  right: -5px;
}

.top-bar {
	top: 50px;
}

.bottom-bar {
	bottom: 50px;
}

/********** Phone Screen *********/

.screen {
    height: 81%;
    width: 98%;
    background: #303030;
    margin: 0 auto;
    border: 1px solid #272727;
    position: relative;
    top: 35px;
}

/********** Phone Side Buttons *********/

.buttons .on-off, .buttons .sleep, .buttons .up, .buttons .down {
	display: block;
	position: absolute;
	background: rgba(0,0,0,0.3);
	border-radius: 2px 0 0 2px;
}

.buttons .on-off {
	height: 30px;
	width: 3px;
	top: 95px;
	left: -8px;
}

.buttons .sleep {
	height: 45px;
	width: 3px;
	top: 160px;
	transform: rotate(180deg);
	right: -8px;
}

.buttons .up {
	height: 45px;
	width: 3px;
	top: 160px;
	left: -8px;
}

.buttons .down {
	height: 45px;
	width: 3px;
	top: 215px;
	left: -8px;
}

/********** Phone Bottom Button *********/

.iphone-bottom {
	padding: 50px 0 0;
}
.iphone-bottom span {
  display: block;
  margin: 0 auto;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background: linear-gradient( 135deg, #000000 0%, #c1c1c1 50%, #6d6d6d 69%, #000000 100% );
  position: relative;
}

.iphone-bottom span:after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background: #222;
  border-radius: 50%;
  position: absolute;
  left: 4px;
  top: 4px;
}
